*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
html , body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    color: white;
}
::selection{
    background-color: black;
    color: white;
}
.main-content{
    box-shadow: 0 0 3px rgb(186, 181, 181);
    padding: 45px;
    border-radius: 7px;
    background-color: #ffffff10;
    backdrop-filter: blur(5px);
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.box h2{
    font-size: 16px;
}
.box input{
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    width: 30vw;
    border: .5px solid #616161;
    font-size: 12px;
}
.box button{
    height: 35px;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    border: .5px solid #616161;
    margin-top: 10px;
    background-color: #5963ff;
    color: white;
    cursor: pointer;
}
.qr-box{
    display: none;
    transition: display ease-in;
    margin: auto;
}
.qr-box img{
    padding: 10px;
    box-shadow: 0 0 3px #616161;
    border-radius: 4px;
}
.shake {
    animation: shake .1s  linear 10;
}
@keyframes shake {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-2px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(2px);
    }
    100%{
        transform: translateX(0);
    }
}